<div class="container">
  <div class="item-new">
    <div class="row">
      <div class="col-5">
        <div class="image-field">
          <h4>アイテム画像</h4>
          <%= form_for (@item) do |f| %>
            <%= attachment_image_tag @item, :image, :fill, 300, 300, format: 'jpeg' %>
            <%= f.attachment_field :image %>
         </div>
       </div>
         <div class="col-7">
          <div class="item-edit">
          <table class="attr">
            <h4>編集内容</h4>
              <tr>
                <th><%= f.label :category, "カテゴリー" %></th>
                <td><%= f.collection_select :category_id, Category.all, :id, :category_name %></td>
              </tr><br>
              <tr>
                <th><%= f.label :brand, "ブランド" %></th>
                <td> <%= f.text_field :brand, :placeholder => "(例) NIKE... ", :size=>"20" %></td>
              </tr>
              <tr>
                <th><%= f.label :size, "サイズ" %></th>
                <td><%= f.text_field :size, :placeholder => "(例) Mサイズ, 25cm" %></td>
              </tr>
              <tr>
                <th><%= f.label :price, "購入金額  ¥" %></th>
                <td> <%= f.text_field :price, :placeholder => "(例) 5000" %>円</td>
              </tr>
              <tr>
                <th><%= f.label :purchase_day, "購入日" %></th>
                <td><%= f.date_select :purchase_day, class: "form-control",:use_month_numbers => true %></td>
              </tr>
              <tr>
                <th><%= f.label :memo, "メモ" %></th>
                <td><%= f.text_area :memo, :placeholder => "(例) セールで購入", :maxlength => "50" %></td>
              </tr>
              <th></th>
              <td>※50文字以内</td>
            </table><br>
            <%= f.submit '登録', class:"btn btn-success btn-block" %>
            <%= link_to "削除", item_path(@item.id), method: :delete, class:"btn btn-danger btn-block", "data-confirm" => "本当に削除しますか？" %>
           </div>
         </div>
          <% end %>
        </div>

      </div>
    </div>
</div>




