<div class="container">
  <div class="item-new">
    <div class="row">
      <div class="col-md-6 col-12">
        <div class="image-new" style="width: 18rem; height: 15rem">
           <% if @item.errors.any? %>
            画像を登録してください
            <% end %>
          <h4>アイテム画像を登録</h4>
          <%= form_for (@item) do |f| %>
          <div id="img_field" onClick="$('#file').click()" >
           <%= f.attachment_field :image, id: "file", class: "image" %>
          </div>
          <script>
            $(function(){
              $('#file').change(function(e){
                var file = e.target.files[0];
                var reader = new FileReader();
                if(file.type.indexOf("image") < 0){
                  alert("画像ファイルを指定してください。");
                  return false;
                }
                reader.onload = (function(file){
                  return function(e){
                    $("#img1").attr("src", e.target.result);
                    $("#img1").attr("title", file.name);
                  };
                })(file);
                reader.readAsDataURL(file);
              });
            });
          </script>
　　　　　<img id="img1" style="width:300px;height:300px;" />
         </div>
       </div>
      <div class="col-md-6 col-12">
        <div class="item-new-field">
          <table class="attr">
          <tr>
            <th><%= f.label :category, "カテゴリー　" %></th>
            <td><%= f.collection_select :category_id, Category.all, :id, :category_name %></td>
          </tr><br>
          <tr>
            <th><%= f.label :brand, "ブランド" %></th>
            <td> <%= f.text_field :brand, :placeholder => "(例) NIKE... ", :size=>"20" %></td>
          </tr>
          <tr>
            <th><%= f.label :size, "サイズ" %></th>
            <td><%= f.text_field :size, :placeholder => "(例) Mサイズ, 25cm" %></td>
          </tr>
          <tr>
            <th><%= f.label :price, "購入金額  ¥" %></th>
            <td> <%= f.text_field :price, :placeholder => "(例) 5000" %></td>
          </tr>
          <tr>
            <th><%= f.label :purchase_day, "購入日" %></th>
            <td><%= f.date_select :purchase_day, class: "form-control",:use_month_numbers => true %></td>
          </tr>
          <tr>
            <th><%= f.label :memo, "メモ" %></th>
            <td><%= f.text_area :memo, :placeholder => "(例) セールで購入", :maxlength => "20" %></td>
          </tr>
          <th></th>
          <td>※20文字以内</td>
          </table><br>
          <%= f.submit '登録する', class:"btn btn-success btn-block" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

