<%= render "admins/shared/navber" %>
<div class="admin-page">
<div class="container-fluid">
  <div class="row">
<%= render "admins/shared/sidebar" %>
  <div class="col-md-4">
<h3>会員登録数：<%= User.count %>名/男女比</h3>
<%= pie_chart @gender_ratio %>
<p>女性登録者数：<%= @woman %>人---------------
   男性登録者数：<%= @man %>人</p>
</div>

<div class="col-md-4">


</div>
  <div>


  </div>
</div>
</div>
</div>

